/* start header */

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
header .navbar-nav .nav-link,
header .navbar-brand {
  color: white;
}
header .navbar .nav-item.active a {
  color: #35a22c;
}
header .navbar .nav-item {
  position: relative;
  margin-left: 10px;
}
header .navbar .nav-item::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  background: #35a22c;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
header .navbar .nav-item:hover:before,
header .navbar .nav-item.active::before {
  width: 100%;
}
/* end header */

#carousel .carousel-item {
  height: 100vh;
}
#carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
#carousel .carousel-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
#carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#carousel .carousel-indicators li.active {
  background-color: #35a22c;
}

/* start projects */

.project__tabs .nav {
  justify-content: center;
}

.project__tabs .nav-pills .nav-link.active {
  background-color: #35a22c;
  border-color: #35a22c;
  color: white;
}
.project__tabs .nav-pills .nav-link {
  border: 1px solid black;
  margin: 0 10px;
  color: black;
}
.project__tabs .card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border: none;
}
.project__tabs .card-body {
  border: 1px solid transparent;
  /* border: none; */
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  transition: 0.5s;
  border-top: none;
}
.project__tabs .card-body:hover {
  border: 1px solid #35a22c;
  border-top: none;
}
.project__tabs .card h5 {
  transition: 0.5s;
}
.project__tabs .card:hover h5 {
  color: #35a22c;
  /*  */
}
/* end projects */

/* start experience */
#experience {
  background-image: url(./image/3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#experience::before {
  content: '';
  position: absolute;
  background: rgb(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.experence__title {
  position: relative;
  z-index: 1;
}
/* end experience */

/* git csm */

/* gitlab */
/* gmail, password S */

/* remove github account window */
